/*------------------------------------------------------------------------CSS-Reset--------------------------------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/*-------------------------------------------------------------------------Main-CSS---------------------------------------------------------------------------------------*/
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto.woff") format("woff"), url("../fonts/Roboto.ttf") format("ttf"), url("../fonts/Roboto.svg#filename") format("svg");
}

html {
  font-family: "Roboto", Arial, sans-serif;
}

/* Background */
body {
  background: linear-gradient(-45deg, #b8c6db 0%, #f5f7fa 75%) no-repeat center center fixed;
  background-size: cover;
}

/*----------------------*/
/* Header */
.header-logo {
  position: relative;
  top: 5px;
}

.header {
  height: 75px;
  width: 100%;
  background-color: #2E3E56;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 5;
}

.header a {
  color: #F5F7FA;
  text-decoration: none;
}

.nav {
  position: relative;
  top: 10px;
}

.header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.header nav ul li a {
  text-decoration: none;
  color: #F5F7FA;
  margin-right: 20px;
  position: relative;
  top: 7.5px;
}

.header nav ul li img {
  margin-right: 20px;
  padding: 5px;
}

.sticky {
  position: fixed;
  top: 0;
}

/*----------------------*/
/* Footer */
.footer {
  height: 35px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #2E3E56;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #F5F7FA;
  font-size: small;
}

.footer a {
  color: #F5F7FA;
  text-decoration: none;
}

.sticky2 {
  position: fixed;
  bottom: 0;
}

/*---------------------*/
/* Login pagina */
.login {
  position: absolute;
  top: 25%;
}

.login form {
  margin-top: 25px;
  display: inline-block;
}

.login input {
  padding: 5px;
  margin-top: -4px;
  margin-right: 8px;
  background-color: #B8C6DB;
  border-left: 2px solid #2E3E56;
  border-right: none;
  border-bottom: none;
  border-top: none;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.login form button:hover {
  background-color: #A8B4C8;
  cursor: pointer;
}

.login input:hover {
  background-color: #A8B4C8;
  cursor: pointer;
}

.login form button {
  padding: 5px;
  display: inline-block;
  margin-top: 4px;
  margin-right: 8px;
  background-color: #B8C6DB;
  border-left: 2px solid #2E3E56;
  border-right: none;
  border-bottom: none;
  border-top: none;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.login h1 {
  padding: 25px;
}

.login p {
  padding: 5px;
}

/*---------------------*/
/* Dropdown */
.dropdown {
  height: 50px;
}

.dropdown li a {
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 5px;
  margin-right: 5px;
}

.dropdown-content {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: -1000px;
  padding: 5px;
  padding-bottom: 15px;
  margin-right: 2px;
  background-color: #B8C6DB;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: .4s, 0s;
          transition-duration: .4s, 0s;
  -webkit-transition-delay: 0s, .4s;
          transition-delay: 0s, .4s;
}

.dropdown:hover .dropdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: absolute;
  top: 50px;
  visibility: visible;
  opacity: 1;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.75);
  -webkit-transition-delay: 0s, 0s;
          transition-delay: 0s, 0s;
}

.dropdown-content a {
  color: #F5F7FA;
  padding-bottom: 7.5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: underline;
  -webkit-text-decoration-color: #5A6D75;
          text-decoration-color: #5A6D75;
}

.dropdown-content a:hover {
  color: #5A6D75;
}

.dropdown-content a:active {
  color: #2E3E56;
}

/*-------------------------------*/
/* Productpagina */
.productsoort {
  font-size: x-large;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [column-1] 420px [column-2] 420px;
      grid-template-columns: [column-1] 420px [column-2] 420px;
  -ms-grid-rows: [row-1] 400px;
      grid-template-rows: [row-1] 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 14%;
}

.grid ul {
  list-style: none;
  margin-right: 15px;
}

.grid ul li {
  padding: 5px;
  margin-top: 4px;
  margin-right: 8px;
  border-left: 2px solid #2E3E56;
  background-color: #B8C6DB;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.grid ul li:hover {
  background-color: #A8B4C8;
}

.product {
  color: #0C1521;
}

.product img {
  max-height: 186px;
}

.product input {
  padding: 5px;
  margin-top: 4px;
  margin-right: 8px;
  background-color: #B8C6DB;
  border-left: 2px solid #2E3E56;
  border-right: none;
  border-bottom: none;
  border-top: none;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.product input:hover {
  background-color: #A8B4C8;
  cursor: pointer;
}

/*-------------------------------*/
/* Wrapper */
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 50%;
  padding-left: 20px;
  padding-top: 100px;
  padding-right: 20px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*-------------------------------*/
/* Home-pagina */
.homelogo {
  position: absolute;
  top: 115px;
  left: 100px;
  font-size: xx-large;
  -webkit-animation: pulse 5s infinite alternate;
          animation: pulse 5s infinite alternate;
  padding: 5px;
}

.homelogo h1 {
  font-size: 2em;
}

@-webkit-keyframes pulse {
  0% {
    color: #9C9FA3;
  }
  25% {
    color: #B6BAC1;
  }
  50% {
    color: #C8D0D1;
  }
  75% {
    color: #E1E7E8;
  }
  100% {
    color: #F5F7FA;
  }
}

@keyframes pulse {
  0% {
    color: #9C9FA3;
  }
  25% {
    color: #B6BAC1;
  }
  50% {
    color: #C8D0D1;
  }
  75% {
    color: #E1E7E8;
  }
  100% {
    color: #F5F7FA;
  }
}

.hometext {
  position: relative;
  top: 50px;
  left: -532px;
  color: #0C1521;
  font-size: larger;
}

.homelist {
  position: absolute;
  top: 450px;
  color: #0C1521;
  border: 2px solid #DFE1E4;
  background-color: #F5F7FA;
  padding: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [column-1] 420px [column-2] 420px [column-3] 420px;
      grid-template-columns: [column-1] 420px [column-2] 420px [column-3] 420px;
  -ms-grid-rows: [row-1] 115px;
      grid-template-rows: [row-1] 115px;
}

.homelist ul {
  list-style: none;
  font-size: larger;
}

.homelist a {
  color: #0C1521;
  text-decoration: none;
  margin: 5px;
  line-height: 50px;
  padding: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.homelist a:hover {
  -webkit-box-shadow: 0px 5px 3px -1px #2E3E56;
          box-shadow: 0px 5px 3px -1px #2E3E56;
}

.homelist p {
  font-weight: bolder;
  margin-bottom: 10px;
}

/*-------------------------------*/
/* Contact pagina */
.contact {
  position: absolute;
  top: 25%;
  display: inline-block;
  font-size: 2em;
}

.contact p {
  margin: 50px;
}

/*------------------------------*/
/* Winkelwagen pagina */
.winkelwagen {
  position: absolute;
  top: 25%;
}

.winkelwagen input {
  padding: 5px;
  margin-top: 4px;
  margin-right: 8px;
  background-color: #B8C6DB;
  border-left: 2px solid #2E3E56;
  border-right: none;
  border-bottom: none;
  border-top: none;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.winkelwagen input:hover {
  background-color: #A8B4C8;
  cursor: pointer;
}

.winkelwagen ul {
  list-style: none;
  margin-right: 15px;
}

.winkelwagen ul li {
  padding: 5px;
  margin-top: 4px;
  margin-right: 8px;
  border-left: 2px solid #2E3E56;
  background-color: #B8C6DB;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.winkelwagen ul li p {
  position: relative;
  top: 5px;
}

.winkelwagen ul li:hover {
  background-color: #A8B4C8;
}

.winkelwagen ul li input {
  margin-left: 300px;
  margin-top: -28px;
  margin-bottom: -5px;
  margin-right: 0;
}

.winkelwagen .clearcartbutton {
  position: relative;
  top: 50px;
  left: -5px;
}

.winkelwagen .pay {
  position: relative;
  top: 50px;
  left: -5px;
}

/*------------------------------*/
.xdebug-error {
  z-index: 7;
}
/*# sourceMappingURL=style.css.map */